@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">

    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-2" style="color: blue;text-shadow:1px 1px black;"> Factory</h1>
        </div>
        <div class="col-sm-6">
            <img src="images/mil.jpg" alt="mil />"

        </div>

    </div>
   </div>
    <p>

    </p>
    <div>
        </div
    <p>Injection molding  <a href="https://www.milacron.com">Cincinatti Homepage</a>.</p>
</div>


<p><div class="col-sm-6">
    <img src="images/2.jpg" alt="2 />"

   
